body {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 1rem;
}

#inner {
	flex-grow: 1;
}

#commands {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	margin: 1rem auto;
	padding: 0;
}

#commands>* {
	margin: 0.3rem;
}

#commands>*:last-child {
	margin-right: auto;
}
